<div class="container">
  <div class="wrapper tile">
    <h2>Galeria </h2>

    <input type="file" class="input-file" (change)="onSelectFile($event)" #fileUpload>
    <!-- <div (click)="fileUpload.click()" class="file-wrapper">
      Dołącz plik
    </div> -->
    <div class="file-wrapper">
      <button (click)="fileUpload.click()" mat-button class="file-button">
        Dołącz plik
      </button>
      <div class="file-name">

        {{fileName || ""}}
      </div>
    </div>

    <div class="images">
      <div class="image-wrapper">
        <img src="../../../assets/img/light.jpg">
        <p>Zdj nr 1</p>
      </div>
      <div class="image-wrapper">
        <img src="../../../assets/img/light.jpg">
      </div>
      <div class="image-wrapper">
        <img src="../../../assets/img/light.jpg">
      </div>
      <div class="image-wrapper">
        <img src="../../../assets/img/light.jpg">
      </div>
      <div class="image-wrapper">
        <img src="../../../assets/img/light.jpg">
      </div>
      <div class="image-wrapper">
        <img src="../../../assets/img/light.jpg">
      </div>
    </div>
  </div>
</div>
