@import 'variables';

:host {

  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $green-dark !important;
  }

  mat-form-field {
    font-size: $font-regular-small;
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: $green-dark !important;
  }
}

button {
  width: 100%;
  height: 3rem;
  background-color: $green-dark;
  color: white;
  font-family: OpenSans-SemiBold;
}


div {
  text-align: center;
  padding: .75rem 0 0;
  font-size: $font-regular-small;

  span {
    cursor: pointer;

    &:hover {
      text-decoration: underline
    }
  }
}

mat-error {
  font-size: $font-small;
}

.message {
  font-size: $font-regular-small;
  padding: 10px 5px;
  text-align: center;

  &.error {
    color: red;
  }

  &.success {
    color: green
  }
}
