@import 'variables';

:host {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.wrapper {
  height: calc(100% - 60px);
  padding: 15px;
  cursor: auto;

  @include media(tab-land) {
    margin: 15px;
  }

  h2 {
    font-family: Montserrat-Bold;
    font-size: $font-regular;
    padding: .5rem 0;
  }

  h4 {
    color: $grey-light;
    font-family: OpenSans-Regular;
    padding: 1rem 0 .5rem;
  }

  p {
    font-size: $font-regular-small;
    color: grey;

    &:last-of-type {
      padding-bottom: 0.5rem;
    }
  }

  input {
    border: rgb(214, 214, 214) 1px solid;
    margin: 2px;
    border-radius: 5px;
    padding: 5px;
    font-size: $font-regular-small;
    color: gray;
  }

  .logout {
    text-align: right;
  }
}

.tile {
  @include media(tab-land) {
    padding: 15px;
    box-shadow: 0px 0px 18px 1px #e7e7e7;
  }

  box-shadow: none;
}

.material-icons {
  padding: 0 10px;
  font-size: 18px;
  color: gray;
  cursor: pointer
}

.btn-save {
  background: $green-dark;
  color: white
}
