@import 'variables';


.container {
  font-family: OpenSans-Regular;
  max-width: 940px;
  padding: 2rem 1rem;

  .icon-wrapper {
    font-size: 260px;
    color: $green-light;
    margin: 2rem;

  }

  div {
    display: flex;
    justify-content: center;
  }

  .current-value {
    font-size: 2rem;
    margin: .25rem 0 .5rem;
    // font-size: $font-larger;
  }

  .mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem 1.5rem;
    font-size: $font-regular-small;
    color: rgb(153, 153, 153);
  }

}

p {
  padding: 0 0 .5rem;
  color: $grey-light;
}


// .mat-icon {
//   height: 260px;
//   width: 260px;
//   font-size: 260px;
//   color: #8de2af;
// }

::ng-deep {

  .mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
  }

  .mat-slider-disabled .mat-slider-thumb {
    border-width: 1px !important;
    transform: scale(.5) !important;
  }

  .mat-slider-horizontal {
    width: 95%;
    // margin: 0 5%;
  }

  .mat-slider-disabled .mat-slider-track-fill {
    background-color: rgb(218, 218, 218) !important;
    transform: translateX(1px) !important;
  }

  .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
    top: 18px;
  }

  .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
    height: 12px;
    border-radius: 10px;
    // width: 300px;
    margin: auto;
  }

  .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb {
    background-color: white;
  }

  .mat-slider.mat-slider-horizontal .mat-slider-track-background,
  .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    height: 100%;
  }

  .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    background-color: #8de2af
  }

  .mat-accent .mat-slider-thumb {
    height: 30px;
    width: 30px;
    background-color: white;
    border: solid 2px gray;
    bottom: -20px;
    right: -20px;
  }

  .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
    background-color: white;
  }
}

.slider-wrapper {
  margin: 0 0 .5rem;
}
