@import 'variables';

div {
  padding: 15px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  height: 120px;

  img {
    padding-bottom: 10px;
  }

  h2 {
    font-family: Montserrat-Bold;
    font-size: $font-regular-small;
    color: #525252
  }

  p {
    margin-top: 10px;
    // color: #8de2af;
    color: rgb(214, 213, 213);
    font-family: Open-Sans-SemiBold;
    font-size: $font-small;
  }
}
