<div class="wrapper tile">
  <h2>Poziom wody</h2>

  <div class="chart-wrapper">
    <ng-container *ngIf="currentValue !=null; else spinner">
      <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="this.currentValue"
        [animated]="true" [animationDuration]="1" [valueClass]="'test'" *ngIf="currentValue">
      </mwl-gauge>
    </ng-container>
    <ng-template #spinner>
      <mat-spinner></mat-spinner>
    </ng-template>
    <!-- <google-chart #google [data]="myData" [type]="chartType" [options]="myOptions" [dynamicResize]="true"
      style="width: 60%; min-height: 250px; position: relative; margin: auto">
    </google-chart> -->
  </div>

</div>
