@import 'variables';

.container {
  font-family: OpenSans-Regular;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(250, 250, 250);

  .wrapper {
    width: 350px;
    padding: 1rem 1.5rem 1.5rem;
    // display: flex;
    // height: 500px;

    // background-color: red;

    img {
      margin: 1rem 0 3rem;
      max-width: 250px;
    }
  }
}

.img-wrapper {
  display: flex;
  justify-content: center;
}

.tile {
  box-shadow: none;

  @include media(phone-land) {
    box-shadow: 0px 0px 18px 1px #e7e7e7;
  }
}
